<footer class="bg-dark yellow-dark">
    <div class="container footer-content">
      <div class="row">
        <!-- about section -->
        <div class="col-md-6 col-lg-4 footer-home" >
          <h4 class="yellow-dark">Xamaranoict</h4>
          <p>Xamaranoict exists to invent and improve, to reimagine business. We exist to push software development to its limits, to help our clients change the world through technology and design.</p>
          <div>
            <img src="images/phone.png" alt="" class="icon-sm">
            <p class="d-inline">+234567891011</p>
          </div>
          <div>
            <img src="images/email.png" alt="" class="icon-sm">
            <p class="d-inline">info@xamaranoict.com</p>
          </div>
          <div>
            <img src="images/phone.png" alt="" class="icon-sm mr-3">
            <img src="images/twitter.png" alt="" class="icon-sm mr-3">
            <img src="images/facebook.png" alt="" class="icon-sm mr-3">
            <img src="images/email.png" alt="" class="icon-sm mr-3">
            <img src="images/whatsap.png" alt="" class="icon-sm mr-3">
            <img src="images/instagram.png" alt="" class="icon-sm mr-3">
          </div>
        </div>

        <!-- quick links -->
        <div class="quick-links offset-md-2 col-md-4 offset-lg-4">
          <h4 class="yellow-dark">Quick Links</h4>
          <ul>
            <li ><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="#contact-section">Contact</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="footer-bottom">Copyright &copy Xamaranoict 2020</div>
</footer>